.button {
  width: 6rem;
  height: 1rem;
  background-color: #ebe091;
  position: absolute;
  border: none;
  bottom: -0.7rem;
  left: 2rem;
  cursor: pointer;
}

.button:active {
  background-color: #c9bf75;
}
.button:hover {
  background-color: #c9bf75;
}
