.button-turn-on-off {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 15rem;
  margin-top: 2rem;
  /* pointer-events: none; */
}

.img-pokeball {
  width: 18rem;
  height: 18rem;
  visibility: unset;
  display: block;
}

.button-turn-on-off.turn-on {
  color: #51c5ff;
  filter: drop-shadow(0 0 6px #aae3ff) brightness(1.1);
}

.button-turn-on-off.turn-off {
  color: #9b2f2f;
}
