.screen-pokemon-data {
    height: 94%;
    width: 99%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    overflow-y: scroll;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}