/* Estilos section */
/* .container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 120rem;
	height: 80vh;
    border: 2px solid red;

} */

/* Container pokedex */
.console {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para la pantalla superior */
.top-screen {
  width: 40rem;
  height: 21rem;
  background-color: #b83b3b;
  border-radius: 0.75rem;
  transition: all 0.5s ease;
  transform-origin: bottom;
  z-index: 1;
  position: relative;
}

.top-screen.open {
  transform: rotateX(0deg);
}

.top-screen.closed {
  transform: rotateX(-180deg);
}

.top-screen.open .screen-inner {
  opacity: 1;
  visibility: visible;
}
/* Estilos para la pantalla interna */
.screen-inner {
  width: 37rem;
  height: 16.4rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgb(126, 126, 126);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.1s ease;
}

.screen-content {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.screen-content.off {
  background: linear-gradient(to bottom, #414141, #949494);
}

.screen-content.on {
  background-color: #d1f9ff;
  opacity: 1;
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.6);
  animation: flicker 1s ease-out forwards;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* .screen-text {
  font-size: 0.75rem;
  color: #4a5568;
} */

.center-console {
  width: 80%;
  height: 0.5rem;
  background-color: #b13232;
}

/* Eantalla inferior */
.bottom-screen {
  width: 40rem;
  height: 21rem;
  background-color: #b83b3b;
  border-radius: 0.75rem;
  margin-bottom: 0.25rem;
  transition: all 0.5s ease;
  transform-origin: bottom;
  position: relative;
}

.bottom-screen-inner {
  width: 37rem;
  height: 17rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  position: absolute;
  left: 1.5rem;
}

.bottom-screen-content {
  width: 100%;
  height: 100%;
  background-color: #b13232;
  border-radius: 0.5rem;
}
