/* Estilos section */
/* .container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 120rem;
	height: 80vh;
    border: 2px solid red;

} */

/* Container pokedex */
.console {
  position: relative;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}

/* Estilos para la pantalla superior */
.top-screen {
  width: 40rem;
  height: 21rem;
  background-color: #aa1c1c;
  border-radius: 0.75rem;
  margin-bottom: 0.25rem;
  transition: all 0.5s ease;
  transform-origin: bottom;
  z-index: 1;
}

.top-screen.open {
  transform: rotateX(0deg);
}

.top-screen.closed {
  transform: rotateX(-110deg);
  height: 20rem;
}

/* Estilos para la pantalla interna */
.screen-inner {
  width: 37rem;
  height: 16.4rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  border: 1px solid;
}

.screen-content {
  width: 100%;
  height: 100%;
  background-color: #e2e8f0;
  border-radius: 0.5rem;
}

.screen-text {
  font-size: 0.75rem;
  color: #4a5568;
}

/* Estilos para la pantalla inferior */
.bottom-screen {
  width: 40rem;
  height: 21rem;
  background-color: #aa1c1c;
  border-radius: 0.75rem;
  margin-bottom: 0.25rem;
  transition: all 0.5s ease;
  transform-origin: bottom;
  position: relative;
}

.bottom-screen-inner {
  width: 37rem;
  height: 16.4rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
}

.bottom-screen-content {
  width: 100%;
  height: 100%;
  background-color: #bf5151;
  border-radius: 0.5rem;
}

/* Estilos para el botón de abrir/cerrar */
.button {
  width: 4rem;
  height: 0.8rem;
  background-color: #c0b776;
  position: absolute;
  border: none;
  bottom: -0.5rem;
  cursor: pointer;
}
