/* Container pokedex */
.console {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

/* Estilos para la pantalla superior */
.top-screen {
  width: 60rem;
  height: 40em;
  background-color: #e04a4a;
  border-radius: 0.75rem;
  transition: all 0.5s ease;
  transform-origin: bottom;
  z-index: 1;
  position: relative;
  border: 3px solid #af3838;

}

.logo-pokedex {
  transform: rotate(180deg);
  transform: scaleY(-1);
  height: 18rem;
  position: absolute;
  top: 10rem;
  left: 34%;
  transition: opacity 0.5s ease, visibility 0.1s ease;
}
.logo-pokedex.open {
  opacity: 0;
  visibility: hidden;
}


.top-screen.open {
  transform: rotateX(0deg);
}

.top-screen.closed {
  transform: rotateX(-180deg);
  background-color: #40e3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-screen.open .screen-inner {
  opacity: 1;
  visibility: visible;
}
/* Estilos para la pantalla interna */
.screen-inner {
  width: 56rem;
  height: 35rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  border: 3.5px solid #af3838;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.1s ease;
}

.screen-content {
  width: 100%;
  height: 100%;
  border-radius: 0.4em;
}

.screen-content.off {
  background: linear-gradient(160deg, #0d2333, #e8e8e8, #0d2333);
  animation: flickerOff 1s ease-out forwards;
}

.screen-content.on {
  background-color: #caeff5;
  opacity: 1;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.6);
  animation: flickerOn 1s ease-out forwards;
}

@keyframes flickerOn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerOff {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}


/* .screen-text {
  font-size: 0.75rem;
  color: #4a5568;
} */

.center-console {
  width: 80%;
  height: 0.5rem;
  background-color: #b93939;
}

/* Eantalla inferior */
.bottom-screen {
  width: 60rem;
  height: 40rem;
  background-color: #e04a4a;
  border-radius: 0.75rem;
  margin-bottom: 0.25rem;
  transition: all 0.5s ease;
  transform-origin: bottom;
  position: relative;
  border: 3px solid #af3838;

}

.bottom-screen-inner {
  width: 56rem;
  height: 35rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  position: absolute;
  left: 1.8rem;
  top: 0.5rem;
}

.pokedex-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;

}

.zoom {
  width: 14rem;
}

.bottom-screen-content {
  width: 100%;
  height: 100%;
  background-color: #c93535;
  border-radius: 0.7rem;
  border: 1px solid #b93939;
}
